{% extends 'db_base.html' %}

{% block dbmanage_content %}

<style>
    .none_date{padding:15px; border:1px solid #ccc; border-top:none; text-align:center; font-size:14px;}
    @media screen and (max-width: 992px) {
        .table_wrap{width: 100%; overflow: auto;}
        .table_area{width:100%; min-width: 1000px;}
        .table_area_mk{width:100%; min-width: 880px;}

        .divbtn{font-size: 13px;}
        .employee_list{font-size: 12px;}
      }


</style>
<div id="layoutSidenav_content">
    <main>
        <div class="container">
            <!-- 검색 -->
            <div class="pt-4">
                <a href="{% url 'excelset:exseton' %}">엑셀파일 다운</a>
                <form action="" method="post" enctype="multipart/form-data" id="db_addform">
                    {% csrf_token %}
                    <input type="text" name="dbname"> DB네임
                    <input type="file" name="uploadex" id="" accept=".xls,.xlsx">
                    <button type="submit">asdfadf</button>
                </form>
            </div>

            <div class="pt-4">
                <form action="{% url 'excelset:set_memo' %}" method="post">
                    {% csrf_token %}
                    {{ set_count }}개 있음
                    <button type="submit">DB업데이트</button>
                </form>
            </div>



        </div>
    </main>
</div>


{% if not get_list.sd %}
<script !src="">
        var t_date = new Date()
        // var t_date = new Date(t_date.getFullYear(), t_date.getMonth(), 1);
        t_date.setHours(t_date.getHours()+9)
        var dateval = t_date.toISOString().substring(0, 10)
        $('.currentDate_sd').val(dateval)

</script>
{% endif %}


{% if not get_list.ed %}
<script !src="">
        var t_date = new Date()
        t_date.setHours(t_date.getHours()+9)
        var dateval = t_date.toISOString().substring(0, 10)
          $('.currentDate_ed').val(dateval)

</script>
{% endif %}


{% endblock %}




