<footer class="py-4 bg-light mt-auto">
  <div class="container-fluid px-4">
    <div class="d-flex align-items-center justify-content-between small">
      <div class="text-muted">Copyright &copy; DreamMore 2022</div>
      <div>
        <a href="#">Privacy Policy</a>
        &middot;
        <a href="#">Terms &amp; Conditions</a>
      </div>
    </div>
  </div>
</footer>
</div>
</div>



<script type="text/javascript">


$('#layoutSidenav_content').click(function(){
  var onwidth = document.body.offsetWidth
  if(onwidth < 992){
    document.body.classList.remove('sb-sidenav-toggled');
  }
})

$('#sidebarToggle').click(function(){
  document.body.classList.toggle('sb-sidenav-toggled');
  localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
})





</script>
</body>
